<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
<title>Node.js ind | <%= title %> </title>
</head>

<body>
    <%- include('./partials/nav') %>
   
    <div class="not-found content">
       OOPS, page not found!
    </div>
</body>
</html>